.App{
  margin:0;
  padding: 0;
  /* border: solid 1px black; */
}
.navbar{
  background: #20073E;
  padding: 2em 0em 0.85em 0em ;
 
}

.navlinks{
  display: flex;
  list-style: none;
  color :white;
  /* border: solid 3px white;  */
  width: 30%;
  margin: 0 auto;
  justify-content: space-between;
}