.App{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (min-width:1px){
 .navbar{
  background: #20073E;
  padding: 1em 0em 0.5em 0em ;
}

.navlinks{
  display: flex;
  list-style: none;
  color :white;
  width: 80%;
  justify-content: space-between;
}

.navlink{
  color :white;
  text-decoration: none;
}


.link{
  text-decoration: none;
  color: #fff;
}

.hero1{
  text-align: center;
  margin: 2em 0em 2em 0em; 
  font-weight: 400;
}
.hero2{
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}
.text{
  color :white;
}
.cards{
  background: black;
  border-radius: 10px;
  width:85%;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1em;
}
.card-section{
  display: block;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 4em;
}
.iconx{
  color :white;
  font-size: 1.75em;
  width: 100%;
  margin-top: -2em;
  margin-bottom:-10px ;
}
.tllustrate{
  height:6em;
  width:45%;
  margin: 0 auto;
  display: flex;
}
.text{
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom:-2px ;
  margin-top: -1px;
 text-align: center;
}
/* subjected to changes */
.input{
  border: dashed 1px black;
  border-radius: 8px;
  height: 20em;
}
.labels{
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
}
.labelleft,.labelright{
  flex: 50%;
  border: solid 1px black;
  margin-left: 1em;
}
.header,.labeltext{
  text-align: center;
}

}
@media only screen and (min-width:768px){
  .navbar{
    padding: 2em 0em 0.85em 0em ;
  }
  .navlinks{
    width: 30%;
    margin: 0 auto;
  }
  .hero1{
    margin: 2em 0em 3em 0em; 
  }
  .hero2{
    font-size: 3em;
  }
  .cards{
    border-radius: 10px;
    width:45%;
  }
  .card-section{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 5em;
  }
  .iconx{
    font-size: 1.75em;
    margin-top: -3em;
    margin-bottom:-10px ;
  }

 }
