.App{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (min-width:1px){
 .navbar{
  background: #20073E;
  padding: 1em 0em 0.5em 0em ;
}

.navlinks{
  display: flex;
  list-style: none;
  color :white;
  width: 80%;
  justify-content: space-between;
}

.navlink{
  color :white;
  text-decoration: none;
}


.link{
  text-decoration: none;
  color: #fff;
}

.hero1{
  text-align: center;
  margin: 2em 0em 2em 0em; 
  font-weight: 400;
}
.hero2{
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}
.text{
  color :white;
}
.cards{
  background: black;
  border-radius: 10px;
  width:85%;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1em;
}
.card-section{
  display: block;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 4em;
}
.iconx{
  color :white;
  font-size: 1.75em;
  width: 100%;
  margin-top: -2em;
  margin-bottom:-10px ;
}
.tllustrate{
  height:6em;
  width:45%;
  margin: 0 auto;
  display: flex;
}
.text{
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom:-2px ;
  margin-top: -1px;
 text-align: center;
 color:white;
}
/* subjected to changes  , for the face detection page*/
.input{
  border: dashed 1px black;
  border-radius: 10px;
  height: 20em;
  padding: 2em;
}
.labels{
  display: block;
  width: 100%;
}
.labelleft,.labelright{
  margin-left: 1em;
  margin-right: 1em;
  text-align: center; 
}
.header,.labeltext{
  text-align: center;
}
.labeltext{
  font-weight: 900;
}
.labelicon{
  font-size: 8em;
  margin-top: 35px;
}
.labeltext1{
  line-height: 25px;
}
/* changes done to the upload button */
/*btnlicon btntext */
.bittondiv{
  width: 60%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  /* border: dashed 1px black; */
}
.button {
background: #20073E;
display: flex;
justify-content: center;
width: 70%;
border-radius: 10px;
border: none;
padding: 0em 8em;
}
.btntext{
  color: white;
 }
 .btnicon{
  color: white;
  font-size: 2em;
  margin-top: 0.35em;
  margin-right: 10px;
 }
}
@media only screen and (min-width:768px){
  .navbar{
    padding: 2em 0em 0.85em 0em ;
  }
  .navlinks{
    width: 30%;
    margin: 0 auto;
  }
  .hero1{
    margin: 2em 0em 2em 0em; 
  }
  .hero2{
    font-size: 3em;
  }
  .cards{
    border-radius: 10px;
    width:45%;
    color:black;
  }
  .card-section{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 2em;
  }
  .iconx{
    font-size: 1.75em;
    margin-top: -3em;
    margin-bottom:-10px ;
  }
  /* subjected to changes  , for the face detection page*/
.input{
  padding: 2em 4.5em;
}
.labels{
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
}
.labelleft,.labelright{
  flex: 50%;
  margin-left: 1em;
}
.labelicon{
  margin-top: 3px;
}
/* changes done to the upload button */
.bittondiv{
  width: 10%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  
}

}